{% extends "layouts/base-fullscreen.html" %}

{% block title %} Etudiant {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <section class=" mt-5 mt-lg-0 bg-soft d-flex align-items-center">
        <div class="container">
            <p class="text-center">
                <a href="{% url 'dashboard' %}" class="d-flex align-items-center justify-content-center">
                    <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z" clip-rule="evenodd"></path></svg>
                    Retour au Accueil
                </a>
            </p>
            <div class="row justify-content-center form-bg-image" >
                <div class="col-12 d-flex align-items-center justify-content-center">
                    <div class="bg-white shadow border-0 rounded border-light p-4 p-lg-5 w-100 fmxw-800">
                        <div class="text-center text-md-center mb-4 mt-md-0">
                            <h1 class="mb-0 h3">
                                Creation Etudiant
                            </h1>
                            <br />
                            <p>
                                {% if msg %}
                                    {{ msg | safe }}
                                {% else %}
                                    ajouter vos données
                                {% endif %}
                            </p>
                        </div>
                        <form method="post" action="" class="" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                {% for field in student_form %}
                                    {% if field == student_form.activities %}
                                        <div class="col-md-12 mb-3">
                                            <!-- Form -->
                                            <div class="form-group mb-4">
                                                <div class="mb-3">
                                                    <span class="h6 font-weight-bold">{{field.label}}</span>
                                                </div>
                                                <div class="form-check ">
                                                    {% for value, label in student_form.activities.field.choices %}
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                        <li style="list-style-type: none;">
                                                            <input class="form-check-input" id="{{label}}" type="checkbox" value="{{value}}">
                                                            <label class="form-check-label checkbox-label-container" for="{{label}}">{{label}}</label>
                                                        </li>
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            <!-- End of Form -->
                                        </div>
                                    {% else %}
                                        <div class="col-md-6 mb-3">
                                            <!-- Form -->
                                            <div class="form-group mb-4">
                                                <label for="{{field.label}}">{{field.label}}</label>
                                                <div class="input-group">
                                                    {{ field }}
                                                </div>
                                            </div>
                                            <!-- End of Form -->
                                        </div>
                                    {% endif %}
                                {% endfor %}
                                <hr>
                                {{ study_level_form }}
                            </div>
                            <div class="d-grid">
                                <button type="submit" name="register" class="btn btn-gray-800 mt-3">Création</button>
                            </div>
                        </form>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
