{% extends "layouts/base.html" %}

{% block title %} Profile d'etudiant {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
		Info personnelles
    </div>
    <div class="row">
        <div class="col-12 col-xl-12">

        </div>
        <div class="col-12 col-xl-12">
			<form method="post" action="" class="mt-4">
				{% csrf_token %}
				<div class="container-fluid">
					<div class="row">
					{% for field in student_form %}
						<!-- Form -->
						<div class="col-md-4 form-group">
							<label for="{{ field.label }}">{{ field.label }}</label>
							<div class="input-group">
								<span class="input-group-text" id="basic-addon1">
									<span class="fas fa-user-circle"></span>
								</span>
								{{ field }}
							</div>
						</div>
						<!-- End of Form -->
					{% endfor %}
					<hr>
						{{ study_level_form }}
					</div>
				</div>
				<div class="d-grid">
					<button type="submit" name="register" class="btn btn-gray-800 mt-3">Modifier</button>
				</div>
			</form>
			<br />
        </div>
    </div>
	{% if student.activities %}
	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
		Les Activitées
    </div>
	<div class="row">
		<div class="col-12 col-xl-12">

        </div>
        <div class="col-12 col-xl-12">
			{% for activity in student.activities %}
			{{activity }}
			{% endfor %}
			<br />
        </div>
    </div>
	{% endif %}
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
