{% extends "layouts/base.html" %}

{% block title %} Cours Particulier {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
	<a href="{% url 'export_pdf_particular_cours' cours.id %}" class="btn btn-sm btn-gray-800 d-inline-flex align-items-center">
		Exporter PDF
	</a>
</div>
<div class="row">
	<div class="col-12 col-xl-12">

	</div>
	<div class="col-12 col-xl-12">
		<form method="post" action="" class="mt-4">
			{% if cours_form.errors %}
				<p>NOT VALID</p>
				{% for errors in cours_form.errors %}
					{{ errors }}
				{% endfor %}
			{% endif %}
			{% csrf_token %}
			{{ cours_form }}
			{{ study_level_form }}
			<div class="d-grid">
				<button type="submit" name="register" class="btn btn-gray-800 mt-3">Modifier</button>
			</div>
		</form>
		<br />
	</div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
